/* group style variation */
.is-style-3-4-width {
  width: 70%;
}

.is-style-1-2-width {
  width: 50%;
}

.is-style-1-4-width {
  width: 30%;
}

.is-style-blue-quote,
.is-style-blue-quote p {
	border: none;
	color: var(--blue_1);
	font-size: 1.625rem;
	line-height: 1.38;
}
.is-style-blue-quote cite:before {
    content: '— ';
    display: inline-block;
}
.is-style-blue-quote cite {
	font-size: 1.125rem;
}