/*Staff Spotlight Page*/

.faculty-staff-spotlight-page {
	text-align: center;
}

.faculty-staff-spotlight-page > div > p {
	margin: 1.5rem 0 60px;
	padding: 0 15%;
}

.faculty-staff-spotlight-page > div > div > ul > li > h2 {
	margin: 0.5rem 0 5px;
}

.faculty-staff-spotlight-page > div > div > ul > li > h2 > a {

	/* font tweaks to get closer to designs */
	color: var(--blue_2);
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1.5;
}

.faculty-staff-spotlight-page > div > div > ul > li > div > a {
	font-weight: 100;
	font-size: 0.8rem;
}

.faculty-staff-spotlight-page > div > div > ul > li > .wp-block-post-excerpt {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.faculty-staff-spotlight-page .wp-block-post-featured-image {
	background-color: var(--blue_2);
	isolation: isolate;
	aspect-ratio: 16/9;
	transition: var(--transition-ease);
}

.faculty-staff-spotlight-page .wp-block-post-featured-image img {
	width: 100%;
	object-fit: cover;
	opacity: 1;
	aspect-ratio: 16/9;
}

.faculty-staff-spotlight-page img:hover {
	opacity: 0.65;
}

.faculty-staff-spotlight-page .wp-block-query-pagination {
	margin-top: 60px;
}