/* CSS to apply to the editor. Improve the editing experience */
.mednet_pagination_block .wp-block-query-pagination-previous > span:after {
  content: "<<";
  border: 1px solid var(--gray_2);
  background-color: var(--gray_2);
  padding: 3px;
  font-size: 14px;
  color: var(--blue_2);
  text-indent: 0;
  display: block;
  line-height: initial;
}

.mednet_pagination_block .wp-block-query-pagination-next > span:after {
  content: ">>";
  border: 1px solid var(--gray_2);
  background-color: var(--gray_2);
  padding: 3px;
  font-size: 14px;
  color: var(--blue_2);
  text-indent: 0;
  display: block;
  line-height: initial;
}

.wp-block-embed__wrapper {
  background: #b4b4b2;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline;
    width: auto;
    height: auto;
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0;
}
.icon-exclamation-sign:before {
  content: "\f06a";
}