/* CSS to apply to the editor. Improve the editing experience */
.mednet-pagination-block .wp-block-query-pagination-next::after,
.mednet-pagination-block .wp-block-query-pagination-previous::after {
	position: unset;
}


.wp-block-embed__wrapper {
	background: #b4b4b2;
}

.editor-styles-wrapper .has-white-color *,
.editor-styles-wrapper .has-white-color .wp-block {
	color: inherit;
}

.editor-styles-wrapper .full-bleed {
	box-shadow: 25vw 0 1px var(--blue_2), -25vw 0 1px var(--blue_2);
}

.editor-styles-wrapper .full-bleed + .full-bleed {
	box-shadow: 25vw 0 1px var(--gray_3), -25vw 0 1px var(--gray_3);
}

[class^="icon-"],
[class*=" icon-"] {
	display: inline;
	width: auto;
	height: auto;
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	background-position: 0 0;
	background-repeat: repeat;
	margin-top: 0;
}

.icon-exclamation-sign::before {
	content: "\f06a";
}

.rich-text,
p {
	white-space: normal !important;
}

.content-card .wp-block-cover__inner-container,
.content-card .wp-block-cover__inner-container * {
	color: #fff;
	display: block;
}

.interface-complementary-area p {
	font-size: 13px;
	line-height: 1.5;
	margin: 1em 0;
	background: #fff;
	color: #1e1e1e;
}

a[target="_blank"].components-external-link::after {
	content: none;
}

/* Styles for the editor */
:root,
.editor-styles-wrapper {
	font-family: var(--mbp-font-family);
}

.editor-styles-wrapper .content-card .wp-block-cover__inner-container * {
	color: var(--white);
	text-decoration: underline;
}

.editor-styles-wrapper .content-card-description {
	margin-left: 0;
}

#editor .is-style-reverse-group * {
	color: var(--white);
}

.components-popover a[target="_blank"]::after {
	content: none;
}

.editor-styles-wrapper .announcement-feed .wp-block-post-featured-image {
	background: none;
}

.block-editor-inserter__tabs .components-tab-panel__tab-content {
	scrollbar-gutter: stable both-edges;
}
