/* Links that need icons */
/*
	[href^="mailto" i],
	[href*=".xls" i],
	[href*=".doc" i],
	[href*=".pdf" i],
	[href="#top" i],
	[href^="telto"],
	[href*="panopto" i],
	[href*="mediasite.audiovisual.ubc.ca" i],
	[href*=".mp4" i]
	
	[target="_blank"]
*/

a {
	color: var(--blue_1);
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: var(--blue_1);
	text-decoration: underline;
}

.is-style-reverse-group .wp-block-button__link:hover {
	background: var(--gray_1);
	color: var(--blue_2);
}

.is-style-reverse-group a {
	text-decoration: underline; /*make the link look like a link, dark background white text needs underline */
}

a.wp-block-file__button {
	line-height: 1;
}

.wp-block-buttons .wp-block-button__link {
	padding-right: 20px;
}

.wp-block-buttons .wp-block-button__link:where(
	[href^="mailto" i],
	[href*=".xls" i],
	[href*=".doc" i],
	[href*=".pdf" i],
	[href="#top" i],
	[href^="telto"],
	[href*="panopto" i],
	[href*="mediasite.audiovisual.ubc.ca" i],
	[href*="https://ubc.zoom.us/rec/" i]
	[href*=".mp4" i])[target="_blank"] {
	padding-right: 20px !important;
	background-image: none !important;
}

a[href^="mailto" i],
a[href*=".xls" i],
a[href*=".doc" i],
a[href*=".pdf" i],
a[href="#top" i],
a[href^="telto"],
a[href*="panopto" i],
a[href*="mediasite.audiovisual.ubc.ca" i],
a[href*="https://ubc.zoom.us/rec/" i],
a[href*=".mp4" i] {
	position: relative;
	display: inline-block;
	overflow-wrap: anywhere;
}

#content th a {
	color: var(--white);
	font-size: 0.75rem;
}

/* AFTER */
a[target="_blank"]::after {
	content: "";
	display: inline-block;
	width: 1.1ch;
	height: 1.1ch;
	margin-left: 0.5ch;
	background-image: url(/wp-content/plugins/mednet-block-patterns/includes/assets/images/svgs/Icon_External_Link.svg);
	background-repeat: no-repeat;
	background-size: auto;
}

:is(h1, h2, h3) a::after {
	font-size: 0.75rem;
	vertical-align: top;
	margin-top: 5px;
}

.is-style-reverse-group .wp-block-button__link:hover::after {
	content: none;
}

/* BEFORE */
a[href^="mailto" i]::before,
a[href*=".xls" i]::before,
a[href*=".doc" i]::before,
a[href*=".pdf" i]::before,
a[href="#top" i]::before,
a[href^="telto"]::before,
a[href*="panopto" i]::before,
a[href*="mediasite.audiovisual.ubc.ca" i]::before,
a[href*="https://ubc.zoom.us/rec/" i]::before,
a[href*=".mp4" i]::before {
	margin-right: 0.25em;
	display: inline-block;
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font: normal normal 400 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal !important;
}

li :is(a[href^="mailto" i],
a[href*=".xls" i],
a[href*=".doc" i],
a[href*=".pdf" i],
a[href="#top" i],
a[href^="telto"],
a[href*="panopto" i],
a[href*="mediasite.audiovisual.ubc.ca" i],
a[href*=".mp4" i])::before {
	display: inline;
	position: static;
	margin-right: 0.25em;
}

li :is(a[href^="mailto" i],
a[href*=".xls" i],
a[href*=".doc" i],
a[href*=".pdf" i],
a[href="#top" i],
a[href^="telto"],
a[href*="panopto" i],
a[href*="mediasite.audiovisual.ubc.ca" i],
a[href*=".mp4" i])::first-letter {
	padding-left: initial;
}


a[href="#top" i]::before,
:is(h1, h2, h3) a[href="#top" i]::after {
	content: "\f176"; /*fa-long-arrow-up*/
}

a[href*=".doc" i]::before,
:is(h1, h2, h3) a[href*=".doc" i]::after {
	content: "\f1c2"; /*fa-word-doc*/
}

a[href*=".xls" i]::before,
:is(h1, h2, h3) a[href*=".xls" i]::after {
	content: "\f1c3";
}

a[href^="mailto" i]::before,
:is(h1, h2, h3) a[href^="mailto" i]::after {
	content: "\f0e0";
}

a[href*="panopto" i]::before,
a[href*="mediasite.audiovisual.ubc.ca" i]::before,
a[href*="https://ubc.zoom.us/rec/" i]::before,
a[href*=".mp4" i]::before,
:is(h1, h2, h3) a[href*="panopto" i]::after,
:is(h1, h2, h3) a[href*="mediasite.audiovisual.ubc.ca" i]::after,
:is(h1, h2, h3) a[href*="https://ubc.zoom.us/rec/" i]::after,
:is(h1, h2, h3) a[href*=".mp4" i]::after {
	content: "\f1c8";
}

a[href^="telto"]::before,
:is(h1, h2, h3) a[href^="telto"]::after {
	content: "\f098";
}

a[href*=".pdf"]::before,
:is(h1, h2, h3) a[href*=".pdf"]::after {
	content: "\f1c1";
}


/* DISABLE ICONS */
a[href^="mailto" i]::after,
a[href*=".xls" i]::after,
a[href*=".doc" i]::after,
a[href*=".pdf" i]::after,
a[href="#top" i]::after,
a[href^="telto"]::after,
a[href*="panopto" i]::after,
a[href*="mediasite.audiovisual.ubc.ca" i]::after,
a[href*="https://ubc.zoom.us/rec/" i]::after,
a[href*=".mp4" i]::after,
a.wp-block-file__button::before,
#content th a::before,
#content th a::after,
.wp-block-file a[target="_blank" i]::after {
	background-image: unset;
	padding-right: 0;
}

/* heading icons should be small after the heading */
#content :is(h1, h2, h3) a::before {
	content: unset;
}

:is(h1, h2, h3) :where(
	a[href^="mailto" i],
	a[href*=".xls" i],
	a[href*=".doc" i],
	a[href*=".pdf" i],
	a[href="#top" i],
	a[href^="telto"],
	a[href*="panopto" i],
	a[href*="mediasite.audiovisual.ubc.ca" i],
	a[href*="https://ubc.zoom.us/rec/" i],
	a[href*=".mp4" i])::after {
		margin-right: 0.25em;
		display: inline-block;
		/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
		font: normal normal 400 14px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal !important;
}

*[class*="is-style-reverse"] :is(h1, h2, h3, h4) a,
*[class*="is-style-reverse"] .wp-block-button__link {
	text-decoration: none;
}


/*
 * Link styles
 */
a[href$=".pdf"]::before {
	content: "\f1c1";
	margin-right: 1ch;
	display: inline-block;
	/* stylelint-disable-next-line */
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal !important;
}

/* Open in new tab icon */

.components-external-link::after {
	content: none;
}

/* negate new tab icon for special cases*/
:is(*, *[class*="is-style-reverse"]) .wp-block-button__link[target="_blank"]::after,
:is(*, *[class*="is-style-reverse"]) .quicklinks-list a[target="_blank"]::after {
	content: none;
}

.wp-element-button .fa-external-link {
	background-image: var(--new-tab-white);
	width: 1em;
	height: 1em;
}

figure:hover:has(a) + :is(*:has(>a),a) {
	text-decoration: underline;
}

figure:has(a:hover) img {
	opacity: 0.65;
}

/* for images in columns, make the pseudo element have opacity */
#content *:has(.wp-block-post-featured-image):has(+ div>:is(h2,h3,h4, p) a:hover) figure::before {
	opacity: 0.35;
}

#content *:has(.wp-block-post-featured-image):has(+ * a:hover) figure img {
	opacity: 1;
}

.wp-block-post-featured-image:has(+h2:hover) img {
	opacity: 1;
}

#content .wp-block-post-featured-image:has(+h2:hover)::before {
	opacity: 0.35; /*query loop featured images used different transition */
}

.wp-block-post-title:has(+ figure) {
	text-decoration: underline;
}

.wp-block-button__link,
.is-style-blue-btn .wp-block-button__link {
	background-color: var(--blue_1);
}

a.wp-block-button__link:hover,
a.wp-block-file__button.wp-element-button:hover {
	background-color: var(--blue_2);
}

/* ******************************************************************************** */

/**
 * Links with icons
 *
 * Icons from FontAwesome glyphs
 * Position absolutely with padding on the first letter of a link
 * Prevent icon from wrapping on a new line
 **/
a::before {
	font: inherit;
	line-height: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: FontAwesome;
}

:is(a[href^="mailto" i],
a[href*=".xls" i],
a[href*=".doc" i],
a[href*=".pdf" i],
a[href="#top" i],
a[href^="telto"],
a[href*="panopto" i],
a[href*="mediasite.audiovisual.ubc.ca" i],
a[href*="https://ubc.zoom.us/rec/" i],
a[href*=".mp4" i]):not(.is-style-no-link-icon)::first-letter {
	padding-left: 1.25em;
}

:is(a[href^="mailto" i],
a[href*=".xls" i],
a[href*=".doc" i],
a[href*=".pdf" i],
a[href="#top" i],
a[href^="telto"],
a[href*="panopto" i],
a[href*="mediasite.audiovisual.ubc.ca" i],
a[href*="https://ubc.zoom.us/rec/" i],
a[href*=".mp4" i])::before {
	position: absolute;
	margin-right: unset;
	left: 0;
	top: 0;
	line-height: inherit;
}

.wp-block-button__link.wp-element-button::before {
	position: unset;
	margin-right: 0.25em;
}

/* Set link icons */
a[href*=".pdf"]::before {
	content: "\f1c1";
}

a[href^="telto"]::before {
	content: "\f098";
}

a[href*=".mp4" i]::before,
a[href*="mediasite.audiovisual.ubc.ca" i]::before,
a[href*="https://ubc.ca.panopto.com/"]::before,
a[href*="https://ubc.zoom.us/rec/"]::before {
	content: "\f1c8" !important;

	/*remove !important when adding to the plugin, not necessary */
}

/* ******************************************************************************** */

.fa-external-link::before {
	content: "" !important;
}

#content th a::before,
#content th a::after,
a.wp-block-file__button::before,
a[href*="panopto"]::before {
	background-image: unset; /*hide the panopto logo, remove this from the plugin*/
	content: unset;
}

/* ******************************************************************************** */

/**
 * Links in new tab
 *
 * Background image used to stop icon from wrapping to new line.
 * link has right padding and a background image applied.
 * a[target="_blank"]:not(.is-style-no-link-icon, :has(img)) = new tab links that don't have the no link icon style and aren't images
 **/

a[target="_blank"]:not(.is-style-no-link-icon, :has(img)) {
	padding-right: 1em;
	background-image: var(--new-tab-secondary);
	background-repeat: no-repeat;
	background-size: 0.7em;
	background-position: calc(100% - 1px);
}

a[target="_blank"]:not(.is-style-no-link-icon, :has(img)):hover {
	background-image: var(--new-tab-secondary);
}

/* Hide new tab icon */
#content a[target="_blank" i]:is(
	a[href^="mailto" i],
	a[href*=".xls" i],
	a[href*=".doc" i],
	a[href*=".pdf" i],
	a[href="#top" i],
	a[href^="telto"],
	a[href*="panopto" i],
	a[href*="mediasite.audiovisual.ubc.ca" i],
	a[href*=".mp4" i]),
#content a[target="_blank" i]:is(
	a[href^="mailto" i],
	a[href*=".xls" i],
	a[href*=".doc" i],
	a[href*=".pdf" i],
	a[href="#top" i],
	a[href^="telto"],
	a[href*="panopto" i],
	a[href*="mediasite.audiovisual.ubc.ca" i],
	a[href*=".mp4" i]):hover {
	padding-right: 0;
	background-image: none !important;
}

.sidenav a[target="_blank"] {
	background-image: unset;
}

/* Use white icon */
:is(p.has-white-color,
.is-style-accent,
.is-style-accent-group,
.is-style-reverse-group,
.blue-feature-blocks,
.blue-feature-blocks:hover) a[target="_blank"] {
	background-image: var(--new-tab-white);
	background-repeat: no-repeat;
}

/* White icon hover */
:is(p.has-white-color a[target="_blank"],
.is-style-accent a[target="_blank"],
.is-style-reverse-group a[target="_blank"]):hover {
	background-image: var(--new-tab-secondary);
}

/* Overwrite CSS on ::after
	remove link icons in background image
*/
a[target="_blank"]::after,
a[target="_blank" i]:is(
	[href^="mailto" i],
	[href$=".xls" i],
	[href$=".xlsx" i],
	[href$=".doc" i],
	[href$=".docx" i],
	[href="#top" i],
	[href$=".pdf" i],
	[href^="mailto" i])::after,
.wp-block-cover__inner-container a[target="_blank"],
a[href*=".pdf"][target="_blank"],
a[href*="mediasite.audiovisual.ubc.ca" i][target="_blank"],
a[href$="mp4"][target="_blank"] {
	content: none; /*don't have a open in new tab icon on pdf's*/
	padding-right: unset;
	background-image: unset;
}

.wp-block-post-featured-image a[target="_blank"] {
	padding-right: unset;
}

/* Image with link to new tab */
.wp-block-post-featured-image a[target="_blank"]::after,
figure.wp-block-image > a[target="_blank"]::after {
	/* feature image open in new tab.
	* @link https://med-fom-mednet.sites.olt.ubc.ca/office-of-the-dean/leadership/one-on-one/ Dermot*/
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	height: 1rem;
	width: 1rem;
	z-index: 999;
	background-image: var(--new-tab-white);
	background-size: 1em;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 0.25rem;
	line-height: 1;
	box-shadow: 0 0 0.25rem 0 rgb(0 0 0 / 25%);
}

.wp-block-buttons a.wp-block-button__link[target="_blank"] {
	background-size: 1em;
	background-position: calc(100% - 0.6em) 50%;
	padding-right: 2rem;
	background-image: var(--new-tab-white);
	background-repeat: no-repeat;
}

:is(.is-style-reverse-group,
.is-style-accent-group,
.blue-feature-blocks)
.wp-block-button__link:hover {
    background-color: var(--gray_1);
	color: var(--blue_2);
	background-image: var(--new-tab-primary) !important;
}


:is(.is-style-reverse-group,
.is-style-accent-group,
.blue-feature-blocks)
.wp-block-button__link[target="_blank"]:not(.is-style-no-link-icon):hover {
	background-color: var(--gray_1) !important;
	color: var(--blue_2) !important;
	background-image: var(--new-tab-primary);
}

:where(.pathway-page-grid,
.is-style-reverse-group)
a[target="_blank"]:not(.is-style-no-link-icon, :has(img)) {
	background-image: var(--new-tab-primary);
}

:where(.pathway-page-grid,
.is-style-reverse-group)
a[target="_blank"]:not(.is-style-no-link-icon, :has(img)):hover {
	background-image: var(--new-tab-primary);
}

figure:has(+*>a:hover):has(a) img {
	opacity: 0.65;
}

.content-card .wp-block-cover:has(+ .content-card-title:hover) .has-background-dim {
	opacity: 0.65;
}

.content-card .wp-block-cover:hover + :has(a) {
	text-decoration: underline;
}

:is(.mbp-blue, .mbp-dark-blue) a[target="_blank"]::after {
	content: var(--new-tab-white);
	background-image: none;
}

/*firefox doesn't support :has, fix to make link icons work*/
@supports not selector(:not(:has(*))) {

	a[target="_blank"] {
		background-position: right;
		padding-right: 1em;
		background-size: 0.75em;
	}

}

#content .wp-block-buttons a.wp-block-button__link[target="_blank"]{
	padding-right: 2.5rem;
	background-position: calc(100% - 1em) 50%;
}

figure.wp-block-post-featured-image a {
	/*https://med-fom-mednet.sites.olt.ubc.ca/in-memoriam/?query-8-page=2&cst#
	the aspect ratio is causing th image to round down one pixel in some cases.*/
	aspect-ratio: unset;
	height: 100%; /* need to fit image in container https://med-fom-mednet.sites.olt.ubc.ca/office-of-the-dean/leadership/one-on-one/# */
}

.wp-block-query .wp-block-post-title a[target="_blank"]:not(.is-style-no-link-icon) {
	background-image: var(--new-tab-primary);
}

.wp-block-query li:has(.wp-block-post-title a[target="_blank"]) figure a[target="_blank"]::after {
	content: none; /* don't show the new tab icon on the image if there is one in the title*/
}
