.full-width {
	background: #fff;
}

ul.wp-block-list li,
.wp-block-list ul li {
	list-style-type: square;
}

/* Featured image placeholder */
.wp-block-post-featured-image__placeholder,
.wp-block-post-featured-image.wp-block-post-featured-image .components-placeholder,
.wp-block-post-featured-image.wp-block-post-featured-image .wp-block-post-featured-image__placeholder {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' id='Layer_1' x='0' y='0' style='enable-background:new 0 0 416 335.2' version='1.1' viewBox='0 0 416 335.2'%3E%3Cstyle%3E .st0%7Bfill:%23CEE0F3;%7D %3C/style%3E%3Cpath d='m415.11 329.3-136.8-185.9c-2.5-4.6-8.2-7.4-14.3-7.4-6.11 0-11.82 2.77-15.21 7.38l-106.6 144.1-37.09-46.1c-3.44-4.28-8.93-6.81-14.77-6.81s-11.33 2.53-14.78 6.81L.04 335.19c0-.03 0 .03 0 0 0 0-.04-321.38 0-335.19H416v329.3h-.89z' class='st0'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


#primary {
	position: sticky;
	top: 1rem;
}


.devices-table td {
	border: 1px solid var(--gray_1);
	vertical-align: top;
}

.devices-table td:first-child {
	width: 150px;
	font-weight: 700;
}

.page-title {
	margin-bottom: 2rem;
	line-height: 1.1;
}

#content .has-background > * {
	background-color: inherit;
}

p:empty {
	display: none;
}

hr,
#editor hr,
.wp-block-separator {
	background-color: #e6e6e6;
	color: #e6e6e6;
	opacity: initial;
}

/* Query Loop image backgrounds */
#content .wp-block-post-featured-image {
	aspect-ratio: 16 / 9;
	position: relative;
	width: 100%;
}

#content .wp-block-post-featured-image img {
	object-fit: unset;
	object-position: unset;
	height: 100%;
	width: auto;
	aspect-ratio: unset;
}

#content .wp-block-post-featured-image:hover img {
	opacity: 1;
}

#content li:nth-child(4n - 3) .wp-block-post-featured-image {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 506'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4 %7B fill: none; %7D .cls-5 %7B clip-path: url(%23clippath); %7D .cls-6 %7B fill: %230055b7; %7D .cls-7 %7B fill: %230c2344; %7D .cls-2 %7B stroke: %236ec4e8; stroke-width: 5px; %7D .cls-2, .cls-3, .cls-4 %7B stroke-miterlimit: 10; %7D .cls-8 %7B clip-path: url(%23clippath-1); %7D .cls-3 %7B mix-blend-mode: multiply; stroke: %2300a7e1; stroke-width: 200px; %7D .cls-4 %7B stroke: %23fff; %7D .cls-9 %7B isolation: isolate; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' x='940' width='900' height='506'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-1' y='0' width='900' height='506.04'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-9'%3E%3Cg id='Graphic_Pattern_2' data-name='Graphic Pattern 2'%3E%3Cg class='cls-5'%3E%3Cg%3E%3Cellipse class='cls-4' cx='996.05' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-4' cx='1135.53' cy='527.57' rx='254.26' ry='317.05'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Graphic_Pattern_1' data-name='Graphic Pattern 1'%3E%3Crect class='cls-6' y='0' width='900' height='506.04'/%3E%3Cg class='cls-8'%3E%3Cpath class='cls-3' d='M-62.79-159.35c431.69,0,781.64,349.95,781.64,781.64'/%3E%3Ccircle class='cls-2' cx='463.52' cy='418.97' r='119.57'/%3E%3Ccircle class='cls-7' cx='805.97' cy='466.26' r='39.78'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#content li:nth-child(4n - 2) .wp-block-post-featured-image {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Graphic_Pattern_2' data-name='Graphic Pattern 2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 506'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4, .cls-5 %7B fill: none; %7D .cls-6 %7B clip-path: url(%23clippath); %7D .cls-7 %7B fill: %23fff; %7D .cls-8 %7B fill: %2397d4e9; %7D .cls-9 %7B fill: %230c2344; %7D .cls-2 %7B stroke: %2397d4e9; stroke-width: 120px; %7D .cls-2, .cls-3, .cls-4, .cls-5 %7B stroke-miterlimit: 10; %7D .cls-3 %7B opacity: .4; stroke-width: 240px; %7D .cls-3, .cls-4 %7B stroke: %2300a7e1; %7D .cls-5 %7B stroke: %23fff; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' width='900' height='506'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect class='cls-9' width='900' height='506'/%3E%3Cg class='cls-6'%3E%3Cline class='cls-3' x1='674.62' y1='-953.9' x2='674.62' y2='918.12'/%3E%3Cg%3E%3Ccircle class='cls-7' cx='224.56' cy='504.2' r='19.05'/%3E%3Cg%3E%3Cellipse class='cls-5' cx='56.05' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='195.53' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='335.02' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='474.5' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='613.99' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='753.47' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='892.96' cy='527.57' rx='254.26' ry='317.05'/%3E%3C/g%3E%3Ccircle class='cls-8' cx='553.09' cy='147.16' r='12'/%3E%3C/g%3E%3Cpath class='cls-2' d='M533.91,506.02h0c0-229.99,186.44-416.43,416.43-416.43h0'/%3E%3Cpath class='cls-4' d='M533.91,506.02h0c0-229.99,186.44-416.43,416.43-416.43h0'/%3E%3C/g%3E%3C/svg%3E");
}

#content li:nth-child(4n - 1) .wp-block-post-featured-image {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 506'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 %7B fill: none; %7D .cls-2 %7B stroke: %236ec4e8; stroke-width: 1.5px; %7D .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 %7B stroke-miterlimit: 10; %7D .cls-9 %7B clip-path: url(%23clippath); %7D .cls-10 %7B fill: %23fff; %7D .cls-11 %7B fill: %2397d4e9; %7D .cls-12 %7B fill: %230c2344; %7D .cls-3 %7B stroke: %2397d4e9; stroke-width: 120px; %7D .cls-13 %7B clip-path: url(%23clippath-1); %7D .cls-14 %7B clip-path: url(%23clippath-2); %7D .cls-4 %7B stroke-width: 240px; %7D .cls-4, .cls-5, .cls-7, .cls-8 %7B stroke: %23fff; %7D .cls-4, .cls-8 %7B opacity: .2; %7D .cls-5 %7B stroke-width: 2px; %7D .cls-6 %7B stroke: %2300a7e1; %7D .cls-8 %7B stroke-width: 200px; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' x='940' width='900' height='506'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-1' x='0' width='900' height='506' transform='translate(900 506) rotate(180)'/%3E%3C/clipPath%3E%3CclipPath id='clippath-2'%3E%3Crect class='cls-1' x='-940' width='900' height='506'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Graphic_Pattern_4' data-name='Graphic Pattern 4'%3E%3Cg class='cls-9'%3E%3Cg id='Grid'%3E%3Cline class='cls-2' x1='1282.49' y1='302.71' x2='823.08' y2='302.71'/%3E%3Cline class='cls-2' x1='1282.49' y1='405.79' x2='823.08' y2='405.79'/%3E%3Cline class='cls-2' x1='1282.49' y1='93.46' x2='823.08' y2='93.46'/%3E%3Cline class='cls-2' x1='1282.49' y1='196.54' x2='823.08' y2='196.54'/%3E%3C/g%3E%3Cg id='Overlays'%3E%3Cpath class='cls-8' d='M855.13,349.26c204.15,1.78,371.09-162.27,372.88-366.42'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Graphic_Pattern_3' data-name='Graphic Pattern 3'%3E%3Crect class='cls-11' x='0' width='900' height='506'/%3E%3Cg class='cls-13'%3E%3Ccircle class='cls-12' cx='731.73' cy='337.73' r='168.27'/%3E%3Cpath id='Overlay_Path' data-name='Overlay Path' class='cls-4' d='M502.61,916h0c-229.46-545.34,26.61-1173.43,571.94-1402.9h0s1500.84-631.51,1500.84-631.51'/%3E%3Cpath id='Thin_White_Path' data-name='Thin White Path' class='cls-5' d='M446.44,622.21h0C410.49,396.28,198.2,242.26-27.73,278.21h0'/%3E%3Cg id='White_Circles' data-name='White Circles'%3E%3Ccircle class='cls-10' cx='246.72' cy='496.25' r='52.54'/%3E%3Ccircle class='cls-10' cx='246.72' cy='391.53' r='52.54'/%3E%3C/g%3E%3Cg id='Blue_Outline_Circles' data-name='Blue Outline Circles'%3E%3Ccircle class='cls-6' cx='286.94' cy='239.99' r='15.06'/%3E%3Ccircle class='cls-6' cx='334.38' cy='239.99' r='15.06'/%3E%3Ccircle class='cls-6' cx='286.94' cy='195.9' r='15.06'/%3E%3Ccircle class='cls-6' cx='334.38' cy='195.9' r='15.06'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Graphic_Pattern_2' data-name='Graphic Pattern 2'%3E%3Cg class='cls-14'%3E%3Cg%3E%3Cellipse class='cls-7' cx='-186.53' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-7' cx='-47.04' cy='527.57' rx='254.26' ry='317.05'/%3E%3C/g%3E%3Cpath class='cls-3' d='M-406.09,506.02h0c0-229.99,186.44-416.43,416.43-416.43h0'/%3E%3Cpath class='cls-6' d='M-406.09,506.02h0c0-229.99,186.44-416.43,416.43-416.43h0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#content li:nth-child(4n) .wp-block-post-featured-image {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 506'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7 %7B fill: none; %7D .cls-2 %7B stroke: %236ec4e8; stroke-width: 1.5px; %7D .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7 %7B stroke-miterlimit: 10; %7D .cls-3 %7B stroke-width: 3px; %7D .cls-3, .cls-4, .cls-6, .cls-7 %7B stroke: %23fff; %7D .cls-8 %7B clip-path: url(%23clippath); %7D .cls-9 %7B fill: %230055b7; %7D .cls-10 %7B fill: %23fff; %7D .cls-11 %7B fill: %2300a7e1; %7D .cls-12 %7B clip-path: url(%23clippath-1); %7D .cls-4 %7B stroke-width: .75px; %7D .cls-5 %7B mix-blend-mode: multiply; stroke: %2397d4e9; %7D .cls-5, .cls-7 %7B stroke-width: 200px; %7D .cls-6 %7B stroke-width: 240px; %7D .cls-6, .cls-7 %7B opacity: .2; %7D .cls-13 %7B isolation: isolate; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' x='0' width='900' height='506'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-1' x='-940' width='900' height='506' transform='translate(-980 506) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-13'%3E%3Cg id='Graphic_Pattern_4' data-name='Graphic Pattern 4'%3E%3Crect class='cls-11' x='0' width='900' height='506'/%3E%3Cg class='cls-8'%3E%3Cg id='Grid'%3E%3Cline class='cls-2' x1='342.49' y1='302.71' x2='-116.92' y2='302.71'/%3E%3Cline class='cls-2' x1='342.49' y1='405.79' x2='-116.92' y2='405.79'/%3E%3Cline class='cls-2' x1='342.49' y1='93.46' x2='-116.92' y2='93.46'/%3E%3Cline class='cls-2' x1='342.49' y1='196.54' x2='-116.92' y2='196.54'/%3E%3Cline class='cls-2' x1='98.49' y1='-248.46' x2='98.49' y2='1167.43'/%3E%3Cline class='cls-2' x1='220.49' y1='-248.46' x2='220.49' y2='1167.43'/%3E%3Cline class='cls-2' x1='342.49' y1='-248.46' x2='342.49' y2='1167.43'/%3E%3C/g%3E%3Cg id='Diagonal_Lines' data-name='Diagonal Lines'%3E%3Cg%3E%3Cline class='cls-4' x1='758.55' y1='66.17' x2='1313.88' y2='550.97'/%3E%3Cpath class='cls-10' d='M756.8,68.39c-1.17-1.02-1.29-2.81-.27-3.98,1.02-1.17,2.81-1.29,3.98-.27,1.17,1.02,1.29,2.81,.27,3.98-1.02,1.17-2.81,1.29-3.98,.27Z'/%3E%3C/g%3E%3Cg%3E%3Cline class='cls-4' x1='292.56' y1='263.55' x2='69.75' y2='68.96'/%3E%3Cpath class='cls-10' d='M294.31,261.33c1.17,1.02,1.29,2.81,.27,3.98-1.02,1.17-2.81,1.29-3.98,.27-1.17-1.02-1.29-2.81-.27-3.98,1.02-1.17,2.81-1.29,3.98-.27Z'/%3E%3Cpath class='cls-10' d='M71.71,66.93c-1.17-1.02-2.95-.9-3.98,.27-1.02,1.17-.9,2.95,.27,3.98,1.17,1.02,2.95,.9,3.98-.27,1.02-1.17,.9-2.95-.27-3.98Z'/%3E%3C/g%3E%3Cg%3E%3Cline class='cls-4' x1='97.08' y1='66.17' x2='652.42' y2='550.97'/%3E%3Cpath class='cls-10' d='M95.33,68.39c-1.17-1.02-1.29-2.81-.27-3.98,1.02-1.17,2.81-1.29,3.98-.27,1.17,1.02,1.29,2.81,.27,3.98-1.02,1.17-2.81,1.29-3.98,.27Z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Overlays'%3E%3Cpath class='cls-7' d='M-84.87,349.26c204.15,1.78,371.09-162.27,372.88-366.42'/%3E%3Cline class='cls-5' x1='803.38' y1='-110.45' x2='803.25' y2='531.5'/%3E%3C/g%3E%3Cg id='Circles'%3E%3Ccircle class='cls-3' cx='329.15' cy='198.58' r='105.76'/%3E%3Ccircle class='cls-9' cx='220.07' cy='196.77' r='39.78'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Graphic_Pattern_3' data-name='Graphic Pattern 3'%3E%3Cg class='cls-12'%3E%3Cpath id='Overlay_Path' data-name='Overlay Path' class='cls-6' d='M-437.39,916h0C-666.86,370.66-410.79-257.43,134.55-486.89h0s1500.84-631.51,1500.84-631.51'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* color for overlay */
#content .wp-block-post-featured-image::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: var(--blue_2);
	transition: var(--transition-ease);
	opacity: 0;
	pointer-events: none;
}

#content .wp-block-post-featured-image:hover::before {
	opacity: 0.35;
}

.wp-block-post-featured-image a {
	display: block;
	overflow: hidden;
	aspect-ratio: 16 / 9;
}

.wp-block-post-featured-image,
figure.wp-block-image {
	position: relative;
	display: inline-block; /*this makes the figure container only as wide as it's content. Positions icon*/
}

/*********************** Refactor below into plugin **********************************/

