/* group style variation */
.is-style-default-group {
	background: none;
}

.is-style-grey-fill-group {
	background: var(--gray_3);
}

.is-style-reverse-column,
.is-style-reverse-group {
	background: var(--blue_2);
	color: var(--white);
}

.is-style-accent-column,
.is-style-accent-group {
	background: var(--blue_1);
	color: var(--white);
}

.is-style-accent-column *,
.is-style-accent-group *,
.is-style-reverse-column *,
.is-style-reverse-group * {
	color: var(--white);
}

.is-style-accent-group .is-style-dark-blue,
.is-style-accent-column .is-style-dark-blue {
	border: 1px solid var(--blue_2);
}

.is-style-accent-group a[target="_blank"]::after,
.is-style-reverse-group a[target="_blank"]::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.87 12.88'%3E%3Cpath d='M12.42 12.87H6.04c-.25 0-.45-.2-.45-.45s.2-.45.45-.45h5.94V.9H.9v5.94c0 .25-.2.45-.45.45S0 7.09 0 6.84V.45C0 .2.2 0 .45 0h11.97c.25 0 .45.2.45.45v11.97c0 .25-.2.45-.45.45ZM.77 12.74 4.8 8.71v2.51c0 .25.2.45.45.45s.45-.2.45-.45V7.63c0-.06-.01-.11-.04-.17a.42.42 0 0 0-.09-.14s-.09-.08-.14-.1c-.05-.02-.11-.03-.16-.04H1.66c-.25 0-.45.2-.45.45s.2.45.45.45h2.5L.13 12.11c-.17.18-.17.46 0 .63.08.09.2.13.32.13s.23-.05.32-.14Z' style='fill:%23fff'/%3E%3C/svg%3E");
}

/* quotes */
.wp-block-quote,
.wp-block-quote p {
	border: none;
	color: var(--blue_1);
	font-size: 1.625rem;
	line-height: 1.38;
}

/* body text */
.is-style-introduction-paragraph {
	font-size: var(--larger);
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: -0.3px;
}

.wp-block-quote cite::before {
	content: "— ";
	display: inline-block;
}

.wp-block-quote cite {
	font-size: 1.125rem;
}

/* Buttons */
.wp-block-buttons .wp-block-button__link {
	color: #fff;
	border-radius: 0;
	padding: 11px 20px;
	line-height: 1.5;
	font-size: 1rem;
	transition: ease all 0.2s;
	background: var(--blue_1);
}

.is-style-blue-btn .wp-block-button__link {
	background: var(--blue_1);
}

.is-style-dark-blue .wp-block-button__link {
	background: var(--blue_2);
}

.is-style-blue-btn:hover .wp-block-button__link {
	background: var(--blue_2);
}

.is-style-dark-blue:hover .wp-block-button__link {
	background: var(--blue_1);
}

.is-style-hide-group {
	display: none;
}

.is-style-hide-read-more {
	display: none;
}

:where(.is-style-toc-top-only, .toc-h1-only) > ol ol {
	display: none;
}

.is-style-no-link-icon::before,
.is-style-no-link-icon::after,
.is-style-no-link-icon a::before,
.is-style-no-link-icon a::after {
	content: none;
}
