/* group style variation */
.is-style-default-group {
	background: var(--white);
}

.is-style-grey-fill-group {
	background: var(--gray_3);
}

.is-style-reverse-group {
	background: var(--blue_2);
	color: var(--white);
}
.is-style-reverse-group * {
	color: var(--white);
}

/* quotes */
.is-style-blue-quote,
.is-style-blue-quote p {
	border: none;
	color: var(--blue_1);
	font-size: 1.625rem;
	line-height: 1.38;
}

/* body text */
.is-style-introduction-paragraph {
	font-size: var(--large);
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

.is-style-blue-quote cite::before {
	content: "— ";
	display: inline-block;
}

.is-style-blue-quote cite {
	font-size: 1.125rem;
}

/* Buttons */
.wp-block-button__link {
	color: #fff;
	border-radius: 0;
	padding: 11px 20px;
	line-height: 1.5rem;
	font-size: 1rem;
	transition: ease all 0.2s;
	background: var(--blue_1);
}

.is-style-blue-btn .wp-block-button__link {
	background: var(--blue_1);
}

.is-style-blue-btn:hover .wp-block-button__link {
	background: var(--blue_2);
}

.is-style-light-blue .wp-block-button__link {
	background: var(--blue_2);
}

.is-style-dark-blue:hover .wp-block-button__link {
	background: var(--blue_1);
}


.is-style-hide-group {
	display: none;
}

.is-style-hide-read-more {
	display: none;
}
