/* group style variation */
.is-style-default-group {
	background: none;
}

.is-style-grey-fill-group {
	background: var(--gray_3);
}

.is-style-reverse-column,
.is-style-reverse-group {
	background: var(--blue_2);
	color: var(--white);
}

.is-style-accent-column,
.is-style-accent-group {
	background: var(--blue_1);
	color: var(--white);
}

.is-style-accent-column *,
.is-style-accent-group *,
.is-style-reverse-column *,
.is-style-reverse-group * {
	color: var(--white);
}

.editor-styles-wrapper :where(.is-style-accent-column,
.is-style-accent-group,
.is-style-reverse-column,
.is-style-reverse-group) *:not(.has-text-color) {
	color: var(--white);
}

.is-style-accent-group .is-style-dark-blue,
.is-style-accent-column .is-style-dark-blue {
	border: 1px solid var(--blue_2);
}

/* quotes */
.wp-block-quote,
.wp-block-quote p {
	border: none;
	color: var(--blue_1);
	font-size: 1.625rem;
	line-height: 1.38;
}

/* body text */
.is-style-introduction-paragraph {
	font-size: var(--larger);
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: -0.3px;
	line-height: 1.4;
}

.wp-block-quote cite::before {
	content: "— ";
	display: inline-block;
}

.wp-block-quote cite {
	font-size: 1.125rem;
}

/* Buttons */
.wp-block-buttons .wp-block-button__link {
	color: #fff;
	border-radius: 0;
	padding: 11px 20px;
	line-height: 1.5;
	font-size: 1rem;
	transition: ease all 0.2s;
	background: var(--blue_1);
}

.is-style-blue-btn .wp-block-button__link {
	background: var(--blue_1);
}

.is-style-dark-blue .wp-block-button__link {
	background: var(--blue_2);
}

.is-style-blue-btn:hover .wp-block-button__link {
	background: var(--blue_2);
}

.is-style-dark-blue:hover .wp-block-button__link {
	background: var(--blue_1);
}

.is-style-hide-group {
	display: none;
}

.is-style-hide-read-more {
	display: none;
}

:where(.is-style-toc-top-only, .toc-h1-only) > ol ol {
	display: none;
}

.is-style-no-link-icon::before,
.is-style-no-link-icon::after,
.is-style-no-link-icon a::before,
.is-style-no-link-icon a::after {
	content: none;
}

#content .is-style-no-link-icon,
#content .is-style-no-link-icon a {

	/* Removes pseudo elements in style variations */
	background-image: none;
	padding-right: unset;
}
