:root,
.editor-styles-wrapper {

	/* Colors: */
	--white: #fff;
	--gray_1: #d7e0e7;
	--gray_2: #e6e6e6;
	--gray_3: #f2f2f2;
	--blue_1: #0055b7;
	--blue_2: #002145;

	/**
	 *
	 * Fonts
	 *
	*/

	/* Families */
	/* stylelint-disable-next-line value-keyword-case */
	--mbp-font-family: "Whitney SSm A", "Whitney SSm B", "Whitney SSm", Whitney, Arial, sans-serif;
	--font-family: var(--mbp-font-family);

	/* Sizes */
	font-size: 15px;
	--small: 0.875rem;
	--default: 1rem;
	--callout: 1.09375rem;
	--larger: 1.2rem;
	--large: 1.5rem;
	--really-large: 1.75rem;
	--xlarge: 2rem;
	--xxlarge: 2.25rem;
	--biggest: 2.5rem;

	/**
	 *
	 * Transitions
	 *
	*/
	--transition-ease: all ease 0.2s;
	--transition-slow: all ease 0.5s;
}
