:root,
.editor-styles-wrapper {

	/* Colors: */
	--white: #fff;
	--gray_1: #d7e0e7;
	--gray_2: #e6e6e6;
	--gray_3: #f2f2f2;
	--blue_1: #0055b7;
	--blue_2: #002145;

	/**
	 *
	 * Fonts
	 *
	*/

	/* Families */
	/* stylelint-disable-next-line value-keyword-case */
	--mbp-font-family: "Whitney SSm A", "Whitney SSm B", "Whitney SSm", Whitney, Arial, sans-serif;
	--font-family: var(--mbp-font-family);

	/* Sizes */
	font-size: 15px;
	font-size: clamp(0.8rem, 15px, 1.2rem);
	--small: 0.875rem;
	--default: 1rem;
	--callout: 1.09375rem;
	--larger: 1.2rem;
	--large: 1.5rem;
	--really-large: 1.75rem;
	--xlarge: 2rem;
	--xxlarge: 2.25rem;
	--biggest: 2.5rem;

	/**
	 *
	 * Transitions
	 *
	*/
	--transition-ease: all ease 0.2s;
	--transition-slow: all ease 0.5s;

	/**
	 *
	 * Link icons
	 *
	*/
	--new-tab-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.87 12.88'%3E%3Cpath d='M12.42 12.87H6.04c-.25 0-.45-.2-.45-.45s.2-.45.45-.45h5.94V.9H.9v5.94c0 .25-.2.45-.45.45S0 7.09 0 6.84V.45C0 .2.2 0 .45 0h11.97c.25 0 .45.2.45.45v11.97c0 .25-.2.45-.45.45ZM.77 12.74 4.8 8.71v2.51c0 .25.2.45.45.45s.45-.2.45-.45V7.63c0-.06-.01-.11-.04-.17a.42.42 0 0 0-.09-.14s-.09-.08-.14-.1c-.05-.02-.11-.03-.16-.04H1.66c-.25 0-.45.2-.45.45s.2.45.45.45h2.5L.13 12.11c-.17.18-.17.46 0 .63.08.09.2.13.32.13s.23-.05.32-.14Z' style='fill:%23ffffff'/%3E%3C/svg%3E");
	--new-tab-primary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.87 12.88'%3E%3Cpath d='M12.42 12.87H6.04c-.25 0-.45-.2-.45-.45s.2-.45.45-.45h5.94V.9H.9v5.94c0 .25-.2.45-.45.45S0 7.09 0 6.84V.45C0 .2.2 0 .45 0h11.97c.25 0 .45.2.45.45v11.97c0 .25-.2.45-.45.45ZM.77 12.74 4.8 8.71v2.51c0 .25.2.45.45.45s.45-.2.45-.45V7.63c0-.06-.01-.11-.04-.17a.42.42 0 0 0-.09-.14s-.09-.08-.14-.1c-.05-.02-.11-.03-.16-.04H1.66c-.25 0-.45.2-.45.45s.2.45.45.45h2.5L.13 12.11c-.17.18-.17.46 0 .63.08.09.2.13.32.13s.23-.05.32-.14Z' style='fill:%23002145'/%3E%3C/svg%3E");
	--new-tab-secondary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.87 12.88'%3E%3Cpath d='M12.42 12.87H6.04c-.25 0-.45-.2-.45-.45s.2-.45.45-.45h5.94V.9H.9v5.94c0 .25-.2.45-.45.45S0 7.09 0 6.84V.45C0 .2.2 0 .45 0h11.97c.25 0 .45.2.45.45v11.97c0 .25-.2.45-.45.45ZM.77 12.74 4.8 8.71v2.51c0 .25.2.45.45.45s.45-.2.45-.45V7.63c0-.06-.01-.11-.04-.17a.42.42 0 0 0-.09-.14s-.09-.08-.14-.1c-.05-.02-.11-.03-.16-.04H1.66c-.25 0-.45.2-.45.45s.2.45.45.45h2.5L.13 12.11c-.17.18-.17.46 0 .63.08.09.2.13.32.13s.23-.05.32-.14Z' style='fill:%230055b7'/%3E%3C/svg%3E");

}
